@page "/question-paper"
@using EducationalContentGeneration.Core.Enums
@using EducationalContentGeneration.Core.Models
@using EducationalContentGeneration.UI.Components.Services
@inject IQuestionPaperService QuestionPaperService

<PageTitle>Question Paper Generator</PageTitle>


<div class="qp-page">
    <div class="qp-card">
        <h2>Question Paper Generator</h2>

        <div class="page-layout">
            <div class="form-container">
                <EditForm Model="@request" OnSubmit="@Build" FormName="questionPaperForm">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="form-group">
                        <label>Subject:</label>
                        <InputText @bind-Value="request.Subject" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Topic:</label>
                        <InputText @bind-Value="request.Topic" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Class Level:</label>

                        <InputSelect @bind-Value="request.ClassLevel" class="form-control">
                            <option value="">--Select Class</option>
                            @foreach (EducationClass level in Enum.GetValues(typeof(EducationClass)))
                            {
                                <option value="@level">@level</option>
                            }
                        </InputSelect>
                    </div>

                    <div class="form-group">
                        <label>Difficulty:</label>

                        <InputSelect @bind-Value="request.Difficulty" class="form-control">
                            <option value="">--Select Difficulty</option>
                            @foreach (DifficultyLevel level in Enum.GetValues(typeof(DifficultyLevel)))
                            {
                                <option value="@level">@level</option>
                            }
                        </InputSelect>
                    </div>

                    <div class="form-group">
                        <label>MCQ Count</label>
                        <InputNumber @bind-Value="request.McqCount" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Short Answer Count</label>
                        <InputNumber @bind-Value="request.ShortAnswerCount" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Long Answer Count</label>
                        <InputNumber @bind-Value="request.LongAnswerCount" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Exam Time</label>
                        <InputText @bind-Value="request.ExamTime" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Total Marks</label>
                        <InputText @bind-Value="request.TotalMarks" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label><b>Paper Mode:</b></label>
                        <div>
                            <InputRadioGroup @bind-Value="request.IncludeAnswers">
                                <div>
                                    <InputRadio Value="true" /> Revision Mode
                                </div>
                                <div>
                                    <InputRadio Value="false" /> Question Paper Mode
                                </div>
                            </InputRadioGroup>
                        </div>
                    </div>
                    <br />

                    <button @onclick="Build" class="btn btn-primary">
                        @(isLoading ? "Generating..." : "Generate") Paper
                    </button>
                </EditForm>
            </div>
        </div>
    </div>

    @if (isLoading)
    {
        <p>Generating your paper... </p>
    }

    @if (!string.IsNullOrWhiteSpace(result))
    {
        <div class="result-box">
            <pre>@result</pre>
        </div>
    }

</div>
@code {
    private QuestionPaperRequest request = new();
    private string? result;
    private bool isLoading = false;

    private async Task Build()
    {
        isLoading = true;
        result = null;

        await Task.Delay(1000);

        result = await QuestionPaperService.BuildQuestionPaperAsync(request);

        isLoading = false;
    }
}